<html>
<head th:replace="index.html :: head"></head>
<body>
    <header th:replace="index.html :: header"></header>
    <navigation th:replace="index.html :: navigation" ></navigation>
    <div class="content container">
        <form th:action="@{/reportTime}" th:object="${timeRecord}" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control"
                               th:classappend="${#fields.hasErrors('date') ? 'is-invalid' : ''}" id="dateInput"
                               placeholder="07:00" th:field="*{date}">
                        <label for="dateInput">Date</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}">This field can't be empty!
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control"
                               th:classappend="${#fields.hasErrors('start') ? 'is-invalid' : ''}" id="startTimeInput"
                               value="07:00" th:field="*{start}">
                        <label for="startTimeInput">Start time</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('start')}">This field can't be empty!
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control"
                               th:classappend="${#fields.hasErrors('end') ? 'is-invalid' : ''}" id="endTimeInput"
                               value="15:00" th:field="*{end}">
                        <label for="endTimeInput">End time</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('end')}">This field can't be empty!
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Report</button>
        </form>
    </div>
    <footer th:replace="index.html :: footer"></footer>
</body>
</html>