<html>
<head th:replace="index.html :: head"></head>
<body>
<header th:replace="index.html :: header"></header>
<navigation th:replace="index.html :: navigation" ></navigation>

<div class="content container my-3 d-flex justify-content-center">
    <div class="btn-group" role="group">
        <a class="btn btn-primary"
           id="previousMonth" role="button">
            Previous
        </a>
        <a class="btn btn-primary disabled" id="currentMonth" role="button">
            MONTH
        </a>
        <a class="btn btn-primary"
           id="nextMonth" role="button">
            Next
        </a>
    </div>
</div>

<div class="accordion accordion container py-3" id="accordionFlushExample">
    <div class="accordion-item" th:each="report, i: ${reports}">
        <h2 class="accordion-header" th:id="'heading_' + ${i.index}">
            <button aria-expanded="false" class="accordion-button collapsed" data-bs-toggle="collapse"
                    th:attr="aria-controls='collapse_' + ${i.index}, data-bs-target='collapse_' + ${i.index}, data-bs-target='#collapse_' + ${i.index}"
                    th:text="${report.username} + ' - ' + ${#conversions.convert(report.getWorkTimeSum(), 'String')}" type="button">
            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" th:attr="aria-labelledby='heading_' + ${i.index}" th:id="'collapse_' + ${i.index}">
            <div class="accordion-body">
                <tr th:each="timeRecord: ${report.timeRecords}">
                    <div class="row">
                        <div class="col">
                            <td th:text="${timeRecord.date}"/>
                        </div>
                        <div class="col">
                            <td th:text="${timeRecord.start}"/>
                        </div>
                        <div class="col">
                            <td th:text="${timeRecord.end}"/>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill bg-primary" ><td th:text="${#conversions.convert(timeRecord.workTime, 'String')}"/></span>
                        </div>
                        <div class="col">
                            <a class="badge btn btn-danger ml-2" th:href="@{/deleteRecord(recordId=${timeRecord.id})}">Delete</a>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</div>

<footer th:replace="index.html :: footer"></footer>
<script th:inline="javascript">
    const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

    var month = new Date([[${month}]]);

    var previousMonth = new Date(month);
    previousMonth.setMonth(previousMonth.getMonth() - 1);
    var nextMonth = new Date(month);
    nextMonth.setMonth(nextMonth.getMonth() + 1);

    document.getElementById("nextMonth").href="/employerPanel/" + nextMonth.getFullYear() + "/" + (nextMonth.getMonth() + 1);
    document.getElementById("previousMonth").href="/employerPanel/" + previousMonth.getFullYear() + "/" + (previousMonth.getMonth() + 1);
    document.getElementById("currentMonth").innerHTML = monthNames[month.getMonth()];
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>