<html>
<head th:replace="index.html :: head"></head>
<body>
    <header th:replace="index.html :: header"></header>
    <navigation th:replace="index.html :: navigation" ></navigation>
    <div class="content container">
        <form method="post" th:action="@{/reportTime}" th:object="${timeRecord}">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="dateInput"
                               placeholder="07:00" th:classappend="${#fields.hasErrors('date') ? 'is-invalid' : ''}"
                               th:field="*{date}" type="date">
                        <label for="dateInput">Date</label>
                        <div class="invalid-feedback" th:errors="*{date}" th:if="${#fields.hasErrors('date')}"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="startTimeInput"
                               th:classappend="${#fields.hasErrors('start') ? 'is-invalid' : ''}" th:field="*{start}"
                               type="time" value="07:00">
                        <label for="startTimeInput">Start time</label>
                        <div class="invalid-feedback" th:errors="*{start}" th:if="${#fields.hasErrors('start')}"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="endTimeInput"
                               th:classappend="${#fields.hasErrors('end') ? 'is-invalid' : ''}" th:field="*{end}"
                               type="time" value="15:00">
                        <label for="endTimeInput">End time</label>
                        <div class="invalid-feedback" th:errors="*{start}" th:if="${#fields.hasErrors('end')}"></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Report</button>
        </form>
    </div>
    <footer th:replace="index.html :: footer"></footer>
</body>
</html>